<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lyra City V - ADMIN System V1</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>

  <body>
    <div id="app" v-if="show">
      <div class="frame" v-if="show">
        <div class="content">
          <div class="screen">
            <div class="topbar">
              <div class="lcv-logo">
                <img src="ifruit_logo.png" alt="iFruit Logo" @click="goTo(0)" />
              </div>
              <div class="navigation">
                <i class="fa-solid fa-user" @click="goTo(6)"></i>
                <i
                  class="fa-solid fa-hands-asl-interpreting"
                  @click="goTo(1)"
                ></i>
                <i class="fa-solid fa-person" @click="goTo(2)"></i>
                <i class="fa-solid fa-location-dot" @click="goTo(3)"></i>
                <i class="fa-solid fa-people-roof" @click="goTo(4)"></i>
                <i class="fa-solid fa-chart-bar" @click="goTo(5)"></i>
                <i class="fa-solid fa-house-user" @click="goTo(7)"></i>
                <i class="fa-solid fa-house-medical" @click="goTo(8)"></i>
              </div>
              <button
                class="close-btn"
                @click.stop.prevent="closeADMIN"
                aria-label="Schließen"
              >
                <i class="fa-solid fa-power-off"></i>
              </button>
            </div>
            <component
              v-bind:is="getTabComponent"
              v-bind="{identity}"
            ></component>
          </div>
        </div>
      </div>
    </div>

    <script src="vue.min.js"></script>
    <script src="utility/menuNames.js"></script>
    <script src="components/home.js" type="text/javascript"></script>
    <script src="components/interaction.js" type="text/javascript"></script>
    <script src="components/npcs.js" type="text/javascript"></script>
    <script src="components/blips.js" type="text/javascript"></script>
    <script src="components/faction.js" type="text/javascript"></script>
    <script src="components/faction_perms.js" type="text/javascript"></script>
    <script src="components/character.js" type="text/javascript"></script>
    <script src="components/houses.js" type="text/javascript"></script>
    <script src="components/houses_ipl.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
  </body>
</html>
